@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/FundoRPG.png");
    width: 100%;
    height: 100vh;
}

.conteinerHome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    width: 100%;
    height: 100%;
}

.firstContent{
    display: flex;
    width: 70%;
    height: 70%;
}

.firstColum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 45%;
    padding: 3%;
    border-radius: 10px 0px 0px 10px;
    background-color: #32021F;
}
.title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 95px;
    color: #E0D3DE;
}

.subtitle {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
    color: #E0D3DE;
}

.description{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
    color: #E0D3DE;
}

.butt_fat{
    width: 40%;
    height: 15%;
}

.butt{
    width: 100%;
    height: 75%;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #FFF;
    background: #E0D3DE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #32021F;
}

.butt:hover{
    background-color: #FFF;
    color: #32021F;
}

.secondColum{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 60%;
    gap: 8%;
    border-radius: 0px 10px 10px 0px;
    border-top: 3px solid #32021F;
    border-right: 3px solid #32021F;
    border-bottom: 3px solid #32021F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #E0D3DE;
}

.title2 {
    display: flex;
    justify-content: center;
    
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #32021F;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs > label { 
    display: flex;

    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #32021F;
}

.inputs > input {
    width: 350px;
    height: 50%;
    border: 2px solid #000;
    background: #FFF;

    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5%;
    border-radius: 10px;
}

.butt2{
    width: 30%;
    height: 10%;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #32021F;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #32021F;

    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
    color: #E0D3DE;
    cursor: pointer;
}
.butt2:hover{
    background-color: #32021F;;
    color: #fff; 
}