@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: #22223B;
  padding: 20px 0;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
}

.userMenu {
  margin-right: 20px;
}

.navigation ul {
  list-style: none;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.link:hover {
  color: #FFA500;
}