.container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.row{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
    margin-left: 20px;
}

.pair{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.pair > img{
    max-width: 65px;
}

.pair > h1{
    min-width: 50px;
    font-size: 40px;
    color: var(--tertiary);
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonMore {
    background-color: var(--tertiary);
    border: 1px solid transparent;
}

.buttonMore:hover{
    transform: scale(1.1);
    transition: all 0.1s;
    cursor: pointer;
}

.buttonMore:active{
    transform: scale(0.9);
    transition: all;
}

.buttonLess {
    background-color: var(--tertiary);
    background-size: cover;
    border: 1px solid transparent;

}

.buttonLess:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    cursor: pointer;
}

.buttonLess:active{
    transform: scale(0.8);
    transition: all;
}


.finish{
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;

    margin-top: 50px;
}

.buttonRolar { 
    width: 155px;
    height: 50px;

    border: solid 1px var(--secundary);
    border-radius: 10px;
    color: var(--tertiary);
    background-color: var(--secundary);
    transition: 0.5 ease-out;

    font-size: 20px;
    
}

.buttonRolar:hover{
    transform: scale(1.05);
    transition: all 0.2s;
    cursor: pointer;
}

.buttonRolar:active{
    transform: scale(0.99);
    transition: all;
}

.buttonSair { 
    width: 155px;
    height: 50px;

    border-radius: 10px;
    color: var(--tertiary);
    background-color: var(--primary);
    transition: 0.5 ease-out;
    border: 3px var(--secundary) solid;

    font-size: 20px;
}

.buttonSair:hover{
    transform: scale(1.05);
    transition: all 0.2s;
    cursor: pointer;
}

.buttonSair:active{
    transform: scale(0.99);
    transition: all;
}