.container{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.pair{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.pair > img{
    max-width: 75px;
}

.pair > h1{
    font-size: 40px;
}

.inp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 30px;
}

.inputs{
    display: flex;
    align-items: center;
}

.inputs > img {
    max-width: 40px;
}