@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #22223B;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #3498db;
}

.subtext {
    margin-bottom: 20px;
    color: #666;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2980b9;
}

.resend {
    color: #3498db;
    cursor: pointer;
    margin-top: 10px;
}

.successText {
    color: #27ae60;
    font-weight: 600;
    margin-top: 20px;
}
